*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter{
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Shared Style */
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.flex{
  display: flex;
}
a{
  text-decoration: none;
}

li{
  list-style: none;
}

h2{
  text-align: center;
  font-size: 3rem;
  color: white;
  font-weight: 700;
}
h3{
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

p{
  color: rgba(255, 255, 255, 0.60);
  font-size: 1rem;
  line-height: 24px;
}

/* color */
.btn-bg{
  background-image: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
}
.green{
  color: #00FF88;
}
.dark-blue{
  background-color: #1A0B2E;
}
.navy-blue{
  background-color: #230E3D;
}

/*  Header style  */

/* Navbar style */

nav{
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
nav ul{
  gap: 2rem;
}
ul li a{
  color: white;
  font-size: 1rem;
  font-weight: 500;

}
nav button{
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 12.5px 16px;
  border: none;
  border-radius: 22px;
}
nav button i{
  margin-left: 4px;
}
header hr{
  border-color: #412567;
}

/* Hero style */
.hero-bg{
  text-align: center;
  position: relative;
}
.hero-circle{
  position: absolute;
  top: 101px;
  left: 50%;
  transform: translateX(-50%);
}
.microphone{
  position: absolute;
  top: 69px;
  left: 50%;
  transform: translateX(-50%);
}
.new{
  font-size: 1.1rem;
  font-weight: 500;
  padding: 8px 16px;
  background-color: #00FF88;
  border-radius: 22px;
  position: absolute;
  top: 12px;
  right: 23px;
  box-shadow: 0px 3px 27px #00FF88;
}

.hero-text{
  position: absolute;
  bottom: 101px;
  left: 50%;
  transform: translateX(-50%);
}
h1{
  font-size: 3.75rem;
  color: white;
  font-weight: 800;

}
.hero-text p{
  color: white;
  padding-top: 12px;
  padding-bottom: 24px;
}
.btn{
  justify-content: center;
  gap: 8px;
}
.spotify{
  border: none;
  padding: 12.5px 20px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 22px;
  align-items: center;
  gap: 8px;
}
.sub{
  border: 1px solid #00FF88;
  padding: 12.5px 20px;
  color: #00FF88;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 22px;
  align-items: center;
  gap: 8px;
  background: none;
}

/* About style */

.about{
  padding-top: 50px;
  padding-bottom: 120px;
}
.about h2{
  padding-bottom: 16px;
}
.about .pera{
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 1rem;
  padding-bottom: 16px;
  line-height: 30px;
  padding-bottom: 5rem;
}
.about hr{
  opacity: 10%;
}
.stat{
  margin-top: 5rem;
  justify-content: space-between;
  align-items: center;
}
.stat h4{
  font-size: 3rem;
  font-weight: 900;
  padding-bottom: 1rem;
}
.stat p{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.80);
}
.direction{
  flex-direction: column;
  align-items: center;
}

/* Why-Choose style */

.Why-Choose{
  padding-bottom: 120px;
}
.Why-Choose h2{
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
}

.techwave{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
.audio{
  grid-column: span 1;
  grid-row: span 2;
}
.device, .global{
  grid-column: span 2;
  grid-row: span 1;
}
.interviews{
  grid-column: span 2;
  grid-row: span 1;
}
.resource{
  grid-column: span 1;
  grid-row: span 1;
}

.box{
  background-color: rgba(53, 17, 101, 0.40);
  border-radius: 40px;
  padding: 40px 40px;
}

.techwave h3{
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 16px 0;
}
.techwave p{
  line-height: 24px;
}

/* feature style */
.feature{
  padding: 120px 0;
}
.feature h2{
  padding-bottom: 40px;
}

.card{
  gap: 30px;
}
.podcast-card{
  background-color: #250D44;
  max-width: 380px;
  border-radius: 24px;
}
iframe{
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.podcast-card h3{
  padding: 24px 24px 0 24px;
}
.podcast-card p{
  padding: 12px 24px;
}
.duration{
  align-items: center;
  padding-left: 24px;
  gap: 6px;
  padding-bottom: 24px;
}
.duration p{
  align-items: center;
  padding-left: 24px;
  gap: 0px;
  padding: 0px 0px;
}

/* Meet the host style */

.host-section{
  padding-bottom: 120px;
}
.host-section h2{
  padding-bottom: 40px;
}

.host-card{
  background-color: rgba(53, 17, 101, 0.40);
  border-radius: 40px;
  padding: 40px;
  align-items: center;
  gap: 24px;
}
.host-card h4{
  font-size: 2rem;
  color: white;
  font-weight: 700;
  padding-bottom: 16px;
}
.host-card p{
  padding-bottom: 16px;
}
.host-social{
  align-items: center;
  gap: 8px;
}

/* footer style */
.footer-bg{
  text-align: center;
  background-color: #230E3D;
  position: relative;
  z-index: 0;
}
.footer{
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
}
.footer-social{
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 2rem 0;
}
.social-link{
  align-items: center;
  gap: 8px;
}
